[defaults]
remote_tmp = /tmp/.ansible/tmp
log_path = ~/deployment.log
retry_files_enabled = False
roles_path = ./roles
library = ./library
deprecation_warnings = False
gathering = smart
host_key_checking = False
